$font-family-sans-serif: "微软雅黑", "microsoft yahei", verdana, lucida, Arial, sans-serif, "黑体";
$body-bg: #f8f8f8;
// $brand-success: #00bb99;
$brand-success: #5cb85c !default;
$link-color: #454545;
$link-hover-color: $brand-success;
$pagination-active-bg: $brand-success;
$pagination-active-border: $brand-success;

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "bootstrap-customize";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: #F1F1F1 image-url('site/bg.png') repeat;
}
