.swiper-container {
  width: 100%;
  // max-height: 200px;
  // overflow-y: hidden;

  a.swiper-slide {
    display: block;
    max-height: 300px;
    overflow: hidden;
  }

  .swiper-slide img {
    width: 100%;
  }

  .swiper-pagination-container {
    @include clearfix;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    background-color: #fafafa;
    padding: 10px 5px 10px 10px;
    border-bottom: 1px solid #ececec;

    .pagination-title {
      float: left;
      width: 80%;
    }

    .pagination-bullets {
      float: right;
      width: 20%;
      text-align: right;

      .swiper-pagination-bullet {
        margin: 0 5px;
      }

      .swiper-pagination-bullet-active {
        background-color: $brand-success;
      }      
    }
  }
}