- SiteAd.mipstats.actived.each do |ad|
  .ad-container= raw ad.value
  
= javascript_include_tag 'https://mipcache.bdstatic.com/static/v1/mip.js'
= javascript_include_tag 'https://mipcache.bdstatic.com/static/v1/mip-link/mip-link.js'
= javascript_include_tag 'https://mipcache.bdstatic.com/static/v1/mip-ad/mip-ad.js'
= javascript_include_tag 'https://mipcache.bdstatic.com/static/v1/mip-stats-baidu/mip-stats-baidu.js'
= javascript_include_tag 'https://mipcache.bdstatic.com/static/v1/mip-share/mip-share.js'