= stylesheet_link_tag "tt_mobile/app"
= csrf_meta_tags
meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1"
meta content="mobile" name="applicable-device"
meta http-equiv="Cache-Control" content="no-transform"
meta name="format-detection" content="telephone=no"
meta charset="utf-8"
= stylesheet_link_tag 'https://mipcache.bdstatic.com/static/v1/mip.css'