i.oneico {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

i.oneico.oneico-rss {
  background-image: image-url('h4ui/icons/iconfont-rss.png');
}
