.header {
  width: 100%;
  height: 47px;
  background-color: #FFF;
  border-top: 2px solid $brand-blue;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 1px 2px #f1f1f1;  
  position: fixed;
  top: 0;
  left: 0;
}

.header .header-inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.header .brand-logo {
  display: block;
  margin-left: 20px;
  width: 196px;
  height: 47px;
  float: left;
  background-image: image-url($logo-path);
  background-repeat: no-repeat;
  background-size: 196px 47px;
}

.header ul.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  border-left: 1px solid #ececec; 
}

.header ul.nav.right-nav {
  float: right;
  width: 100px;

  & > li > a {
    font-size: 14px;
  }
}

.header ul.nav {
  @include clearfix;

  li {
    float: left;
  }

  li > a {
    display: block;
    font-size: 18px;
    width: 130px;
    height: 47px;
    line-height: 47px;
    color: #333;
    text-align: center;
    border-right: 1px solid #ececec; 
    text-decoration: none;
  }

  li > a:hover, li > a.active {
    color: $brand-blue;
  }
}
