$brand-blue: #00bb99;
$hight-color: darken($brand-blue, 5%);
$border-start-color: darken($brand-blue, 10%);
$container-border-color: #ececec;

// font
$font-size: 14px;
$font-color: #333333;

// Site Customize
// logo: 196x56
$logo-path: 'h4ui/logo.png';

@import "normalize";
@import "mixins";
@import "utilities";
@import "icons";
@import "navbar";

a {
  color: #454545;
  text-decoration: none;

  &:hover {
    color: darken($brand-blue, 5%);
    text-decoration: underline;
  }
}

body {
  // font-family: "Microsoft YaHei","Arial Narrow", HELVETICA;
  // font-size: $font-size;
  font: 13px/1.4 "微软雅黑", "microsoft yahei", verdana, lucida, Arial, sans-serif, "黑体";
  color: $font-color;
  background: #f2f2f2;
}

.main {
  width: 1000px;
  margin: 65px auto;
}
