@import "header";
@import "footer";
@import "sidebar";
@import "article-list";
@import "article";

.main {
  width: 1170px;
  margin: 0 auto;
  min-height: 1500px;
  margin-top: 16px;
}

.main.article-main {
  width: 1120px;
}

.main.index-main {
  width: 660px;
}


.a-content-ad {
  margin-bottom: 20px;
  text-align: center;
}

.r-side-ad {
  margin-bottom: 16px;
  text-align: center;
  border: 1px solid #e8e8e8;
  padding-top: 10px;
}

.about-section {
  margin-bottom: 16px;
}