$font-family-sans-serif: "微软雅黑", "microsoft yahei", verdana, lucida, Arial, sans-serif, "黑体";
$body-bg: #fae8c8;
$brand-success: #ff8400 !default;
$link-color: #454545;

$link-hover-color: $brand-success;
$pagination-active-bg: $brand-success;
$pagination-active-border: $brand-success;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mobile/global";
@import "mobile/component";
@import "mobile/index";
@import "mobile/wechat-article";