@mixin bgsize($path) {
  background-image: image-url($path);
}

.share-bar {
  width: 100px;
  margin-right: 30px;
  min-height: 200px;
}

.share-bar .s-inner {
  margin-top: 20px;
  width: 100px;
}

.s-inner a {
  display: block;
  
  span.text {
    vertical-align: middle;
    padding-left: 8px;
    font-size: 16px;
  }
}

.s-hr {
  background: #e8e8e8;
  height: 1px;
}

.s-inner i.s-ico {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

a.s-comment {
  margin-bottom: 14px;

  i.comment {
    @include bgsize('site/cmt.png');
  }

  span {
    font: 20px/24px Georgia;
    color: #f85959;
    padding-left: 6px;
  }
}

a.s-box {
  margin-top: 14px;
  font-size: 16px;
  cursor: pointer;

  i.weibo {
    @include bgsize('site/wb.png');
  }

  i.weixin {
    @include bgsize('site/wx.png');
  }

  i.qzone {
    @include bgsize('site/qz.png');
  }
}
