.tag {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  padding: 1px 2px;
}

.tag.tag-gray {
  color: #777;
  border: 1px solid #999;  
}

.tag.tag-blue {
  color: #60A3F5;
  border: 1px solid #60A3F5;  
}

.tags-section {
  width: 660px;
}

ul.tag-list-fix {
  margin-left: -5px;

  li {
    float: left;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 10px;
    list-style: none;
  }

  li a {
    background: #edf1f5;
    font-size: 16px;
    width: 100px;
    text-align: center;
    display: inline-block;
    height: 36px;
    line-height: 36px;
  }
}