.welcome {
  // slide
  .slide-container {}

  .slide-box { 
    position: relative; 
    width: 650px; 
    height: 348px; 
  }

  .slide-box .item { 
    position: relative; 
    display: block;
  }

  .slide-box img { 
    display: block; 
    width: 650px; 
    height: 348px;
  }

  .slide-box b { 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 78px; 
    background-color: #000; 
    opacity: .5; 
    filter: alpha(opacity=50);
  }

  .slide-box span { 
    position: absolute; 
    left: 0; 
    bottom: 37px; 
    width: 100%; 
    font-size: 18px; 
    color: #fff; 
    text-align: center;
  }

  .owl-pagination { position: absolute; left: 0; bottom: 10px; width: 100%; height: 22px; text-align: center;}
  .owl-page { display: inline-block; width: 10px; height: 10px; margin: 0 5px; background-image: image-url("h4ui/owl/bg15.png"); *display: inline; *zoom: 1;}
  .owl-pagination .active { width: 25px; background-image: image-url("h4ui/owl/bg16.png"); }
  .owl-buttons { display: none;}
  .owl-buttons div { position: absolute; top: 50%; width: 40px; height: 80px; margin-top: -40px; text-indent: -9999px;}
  .owl-prev { left: 0; background-image: image-url("h4ui/owl/bg17.png");}
  .owl-next { right: 0; background-image: image-url("h4ui/owl/bg18.png");}
  .owl-prev:hover { background-image: image-url("h4ui/owl/bg19.png");}
  .owl-next:hover { background-image: image-url("h4ui/owl/bg20.png");} 
   
  // top news
  .top-news {
    .top-item {
      border-bottom: 1px solid $container-border-color;
      padding-bottom: 12px;

      &.item-6 {
        border-bottom: none;
        padding-bottom: 4px;
      }
    }

    .top-item a {
      display: block;
      padding-top: 12px;
      font-size: 14px;
      background-image: image-url('h4ui/icons/rank.png');
      background-repeat: no-repeat;
      padding-left: 28px;
    }

    .item-1 a { background-position: 0px 10px; }
    .item-2 a { background-position: 0px -25px; }
    .item-3 a { background-position: 0px -61px; }
    .item-4 a { background-position: 0px -98px; }
    .item-5 a { background-position: 0px -134px; }
    .item-6 a { background-position: 0px -172px; }    

    .top-item .intro {
      font-size: 12px;
      color: #8e8e8e;
      margin-top: 4px;
      line-height: 18px;
      height: 38px;
      overflow: hidden;
      display: none;
    }

    .top-item.active .intro { display: block; }
  }

    // article-container
  .article-container {
    width: 610px !important;
    margin-top: 30px;
    padding: 10px 20px;
  } 

  .article-container .pic-news {
    h3 { margin: 10px 0 20px 0; font-size: 20px; }
    h3 a { color: $brand-blue; }

    .pic {
      position: relative;
      width: 290px;
      height: 290px;
    }

    .pic img {
      width: 290px;
      height: 290px;
    }

    .pic .pic-title, .pic .pic-overlay {
      position: absolute;
      bottom: 10px;
      width: 270px;
      left: 10px;
      height: 40px;
    }

    .pic-overlay {
      background-color: #fff;
      opacity: 0.8;
      filter: progid:DXImageTransform.Microsoft.alpha(opacity=80);
    }

    .pic-title {
      text-align: center;
      line-height: 40px;
    }
  }

  .article-container .article-list {
    width: 300px;
    overflow: hidden;
  }

  .article-container ul.article-sub-nav {
    @include clearfix;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid $container-border-color;

    li { float: right; }

    li a { 
      display: block; 
      padding: 10px 20px;
      text-decoration: none;
    }

    li.active a, li a:hover {
      color: $brand-blue;
      border-bottom: 2px solid $brand-blue;
    }
  }

  .article-list-group {
    h4 { 
      font-size: 20px; 
      text-align: center;
      margin: 16px 0px 8px 0px;
    }

    .summary {
      color: #8e8e8e;
      font-size: 12px;
      line-height: 20px;
    }

    ul.articles {
      @include clearfix;
      margin: 16px 0 0 0;
      padding: 0;
      list-style: none;

      li { 
        float: left;
        white-space: normal;
        margin-left: 16px;
      }

      li.first { margin-left: 0px; }
    }

    &.has-bottom-border {
      padding-bottom: 20px;
      border-bottom: 1px dashed $container-border-color;
    }
  }
}
