.welcome {
  .header-section {
    border: 1px solid $container-border-color;
    border-radius: 3px;
    background-color: #fff; 
    box-shadow: 0 1px 2px #f1f1f1;
  }

  // slide
  .slide-container {
    width: 642px;
    padding: 8px 0px 8px 8px;
    border: none;
    box-shadow: none;
  }

  .slide-box { 
    position: relative; 
    width: 100%; 
    height: 348px; 
  }

  .slide-box .item { 
    position: relative; 
    display: block;
  }

  .slide-box img { 
    display: block; 
    width: 100%; 
    height: 348px;
  }

  .slide-box b { 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 78px; 
    background-color: #000; 
    opacity: .5; 
    filter: alpha(opacity=50);
  }

  .slide-box span { 
    position: absolute; 
    left: 0; 
    bottom: 37px; 
    width: 100%; 
    font-size: 18px; 
    color: #fff; 
    text-align: center;
  }

  .owl-pagination { position: absolute; left: 0; bottom: 10px; width: 100%; height: 22px; text-align: center;}
  .owl-page { display: inline-block; width: 10px; height: 10px; margin: 0 5px; background-image: image-url("h4ui/owl/bg15.png"); *display: inline; *zoom: 1;}
  .owl-pagination .active { width: 25px; background-image: image-url("h4ui/owl/bg16.png"); }
  .owl-buttons { display: none;}
  .owl-buttons div { position: absolute; top: 50%; width: 40px; height: 80px; margin-top: -40px; text-indent: -9999px;}
  .owl-prev { left: 0; background-image: image-url("h4ui/owl/bg17.png");}
  .owl-next { right: 0; background-image: image-url("h4ui/owl/bg18.png");}
  .owl-prev:hover { background-image: image-url("h4ui/owl/bg19.png");}
  .owl-next:hover { background-image: image-url("h4ui/owl/bg20.png");} 
  
}
