$font-family-sans-serif: "微软雅黑", "microsoft yahei", verdana, lucida, Arial, sans-serif, "黑体";
$body-bg: #f8f8f8;
// $brand-success: #00bb99;
$brand-success: #5cb85c !default;
$link-color: #454545;
$link-hover-color: $brand-success;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-customize";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "welcome";

.main-container {
  margin-top: 73px;
  width: 1000px !important;
  padding: 0;
}

.main-split-container {
  @include clearfix;

  .left-side {
    float: left;
    width: 670px;
  }

  .right-side {
    float: right;
  }
}