.breadcrumb-container {
  @include clearfix;
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
}

.breadcrumb-container .breadcrumb {
  background-color: transparent;
  font-size: 12px;
  margin: 0;
  padding: 0;

  .fa-caret-right { margin-right: 5px; }
}

.article-detail-container {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  min-height: 300px;

  .article-ad-top {
    margin-bottom: 20px;
  }

  .article-ad-bottom {
    margin-bottom: 10px;
  }  

  .article-header {
    width: 90%;
    margin: 0 auto;
    text-align: center;    
    border-bottom: 1px dotted #dddddd;
  }

  .article-header h1 { 
    font-size: 24px;
  }

  .article-header p span { 
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }

  .article-content {
    margin-top: 20px;
    padding: 0px 30px;
    font-size: 14px;
    line-height: 28px;

    a, a.hot-link {
      color: $brand-success;
      text-decoration: underline;
    }

    // p {
    //   margin-bottom: 20px;
    //   text-align: justify;
    // }

    // br {
    //   display: block;
    //   content: ' ';
    //   margin-bottom: 20px;
    // }  


    p {
      margin-bottom: 10px;
    }

    br {
      display: block;
      content: ' ';
      margin-bottom: 10px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 10px auto;
    }      
  }

  .article-footer {
    @include clearfix;
    padding-top: 10px;
    padding-bottom: 20px;

    .tags {
      padding-left: 30px;
      font-size: 14px;
      color: $brand-success;

      a {
        display: inline-block;
        color: $brand-success;
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }
}

.search-articles, .ad-container {
  margin-top: 20px;
}

.more-like-this {
  margin-top: 20px;

  .mixed-section-inner {
    padding-bottom: 5px;

    form {
      border-top: 1px dotted #dcdcdc;
      padding-top: 15px;
      margin-bottom: 15px;
    }
  }

  ul.section-list {}
  ul.section-list.hor li {
    float: left;
    width: 260px;
    overflow: hidden;
    border-bottom: none;
    margin-right: 40px;

    a {
      padding: 0;
      margin-bottom: 10px;
    }
  }
}