// .articles {
//   .nopic > .item-text {
//     width: 100%;
//     // padding: 0 15px;
//   }

//   .morepics > .item-text {
//     // margin-top: 15px;
//     // margin-bottom: 15px;
//   }

//   .morepics .item-image-list .item-image {
//     margin-right: 15px;
//   }
// }

.article-list-container.list-section-inner {
  padding: 15px 15px;

  .list-section-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .nopic > .item-text {
    width: 100%;
  }  

  .morepics .item-image-list .item-image {
    margin-right: 30px;
  }

  .item-text h4 {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .item-text p {
    line-height: 24px;
    margin-bottom: 0px;
    max-height: 78px;
    overflow: hidden;
  }  

  .list-section-item.one-pic {
    .item-text {
      margin-left: 15px;
    }
  }
}

.breadcrumb-container {
  @include clearfix;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.breadcrumb-container .breadcrumb {
  background-color: transparent;
  font-size: 12px;
  margin: 0;
  padding: 0;

  .fa-caret-right { margin-right: 5px; }
}

.breadcrumb-container .social-share {} 

.article-detail-container {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  min-height: 300px;

  .article-ad-top {
    margin-bottom: 20px;
    text-align: center;
  }

  .article-ad-bottom {
    margin-bottom: 10px;
    text-align: center;
  }  

  .article-header {
    width: 90%;
    margin: 0 auto;
    text-align: center;    
    border-bottom: 1px dotted #dddddd;
  }

  .article-header h1 { 
    font-size: 24px;
  }

  .article-header p span { 
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }

  .article-content {
    margin-top: 20px;
    padding: 0px 30px;
    font-size: 14px;
    line-height: 28px;

    .next-prev {
      margin-top: 20px;
      margin-bottom: 20px;

      a.btn {
        text-decoration: none;
        font-size: 12px;
      }
    }

    a, a.hot-link {
      color: $brand-success;
      text-decoration: underline;
    }

    // p {
    //   margin-bottom: 20px;
    //   text-align: justify;
    // }

    // br {
    //   display: block;
    //   content: ' ';
    //   margin-bottom: 20px;
    // }  


    p {
      margin-bottom: 20px;
      text-align: justify;
    }

    br {
      display: block;
      content: ' ';
      margin-bottom: 10px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 10px auto;
    }      
  }

  .article-footer {
    @include clearfix;
    padding-top: 10px;
    padding-bottom: 20px;

    .tags {
      padding-left: 30px;
      font-size: 14px;
      color: $brand-success;

      a {
        display: inline-block;
        color: $brand-success;
        text-decoration: underline;
        margin-left: 10px;
      }
    }
  }
}

.search-articles, .ad-container {
  margin-top: 20px;
}

.more-like-this {
  margin-top: 20px;

  .mixed-section-inner {
    padding-bottom: 5px;

    form {
      border-top: 1px dotted #dcdcdc;
      padding-top: 15px;
      margin-bottom: 15px;
    }
  }

  ul.section-list {}
  ul.section-list.hor li {
    float: left;
    width: 240px;
    height: 20px;
    border-bottom: none;
    margin-right: 40px;
    margin-bottom: 10px;

    a { 
      padding: 0; 
      display: block;
      overflow: hidden;    
      text-overflow: ellipsis;    
      white-space: nowrap;
    }
  }
}