.tags-container {
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;

  ul.tag-list {
    @include clearfix;
  }

  ul.tag-list li {
    float: left;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  ul.tag-list li a {
    width: 130px;
    text-align: center;    
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border: 1px solid #dddddd;
    background-color: #ececec;
    text-decoration: none;

    &:hover, &.active {
      border: 1px solid darken($brand-success, 20%);
      background-color: $brand-success;        
      color: #ffffff;
    }
  }  
}