.carousel-focus {
  width: 100%;
  background-color: #ffffff;
  padding: 5px 5px;
  border: 1px solid #ececec;

  .carousel-focus-left .carousel {
    width: 660px;
    height: 340px;

    .item { height: 340px; }
  }

  .carousel-focus-right {
    padding-right: 10px;
  }

  .headline {
    width: 300px;
    background-color: #ffffff;
  }

  .headline p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
  }

  ul.focus-list li {
    list-style-type: square;
    list-style-position: inside;
    border-bottom: 1px dotted #ececec;    
    &:last-child { 
      border-bottom: none; 
      a { padding-bottom: 0px; }
    }
  }

  ul.focus-list li a {
    display: inline-block;
    padding: 10px 0px;
  }
}

.application .main-split-container {
  margin-top: 20px;

  .mixed-section {
    margin-bottom: 20px;
  }

  .left-side .mixed-section {
    .mixed-section-text {
      width: 350px;
    }
  }
}