.carousel-focus {
  width: 100%;
  background-color: #ffffff;
  padding: 15px 5px 5px 15px;
  border: 1px solid #ececec;

  .carousel-focus-left .carousel {
    width: 660px;
    height: 340px;

    .item { height: 340px; }
  }

  .carousel-focus-right {
    margin-right: 10px;
    // padding-right: 0px;
  }

  .headline {
    width: 290px;
    background-color: #ffffff;
    border-bottom: 1px dotted #ececec;

    h4 { text-align: center; }
  }

  .headline p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
  }

  ul.focus-list li {
    list-style-type: square;
    list-style-position: inside;
    border-bottom: 1px dotted #ececec;    
    &:last-child { 
      border-bottom: none; 
      a { padding-bottom: 0px; }
    }
  }

  ul.focus-list li a {
    display: inline-block;
    padding: 10px 0px;
  }
}

.application .main-split-container {
  margin-top: 20px;

  .left-side .list-section {
    margin-bottom: 20px;
  }

  // .left-side .mixed-section {
  //   .mixed-section-text {
  //     width: 340px;
  //   }

  //   .section-headline h4 {
  //     margin-top: 0px;
  //   }

  //   .tab-content ul.section-list li:first-child a {
  //     padding-top: 10px;
  //   }
  // }
}