.carousel-focus {
  width: 100%;
  background-color: #ffffff;
  padding: 5px 5px;
  border: 1px solid #ececec;

  .carousel-focus-left .carousel {
    width: 660px;
    height: 340px;

    .item {
      height: 340px;
    }
  }

  .carousel-focus-right {
    padding-right: 10px;
  }

  .headline {
    width: 300px;
    background-color: #ffffff;
  }

  .headline p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
  }

  ul.focus-list li {
    list-style-type: square;
    list-style-position: inside;
    border-bottom: 1px dotted #ececec;    
    &:last-child { 
      border-bottom: none; 
      a { padding-bottom: 0px; }
    }
  }

  ul.focus-list li a {
    display: inline-block;
    padding: 10px 0px;
  }
}

.application .main-split-container {
  margin-top: 20px;
}

.mixed-section {
  background-color: #ffffff;
  padding: 10px 10px;

  .mixed-section-image {
    position: relative;

    img {
      width: 280px;
      height: 260px;
    }

    .image-layer {
      position: absolute;
      width: 240px;
      height: 20px;
      left: 20px;
      bottom: 10px;
      height: 30px;
      background-color: #ffffff;
      opacity: 0.8;
    }

    .image-title {
      position: absolute;
      width: 240px;
      left: 20px;
      bottom: 10px;
      text-align: center;
      padding: 5px 0px;      
    }

    .image-title a {
      color: #000;
    }
  }

  .mixed-section-text {
    width: 320px;
  }

  .mixed-section-nav > li.active a {
    border: none;
    border-bottom: 2px solid $brand-success;
    background-color: transparent;
  }

  .mixed-section-nav > li:hover a {
    border: none;
    border-bottom: 2px solid $brand-success;
    background-color: transparent;    
  }
}